<form [formGroup]="productForm" (ngSubmit)="productInfo()" class="row ">
    <div class="col-12 col-md-6">
        <label for="name" class="form-label">Nombre del producto</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <p class="fw-bold text-danger" *ngIf="productForm.get('name')?.hasError('required') && productForm.get('name')?.touched">
            El nombre es necesario.
        </p>


        <div class="form-group">
            <label for="price" class="form-label mt-2">Precio</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input id="price" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" formControlName="price" required>
                <span class="input-group-text">.00</span>
            </div>
            <p class="fw-bold text-danger" *ngIf="productForm.get('price')?.hasError('required') && productForm.get('price')?.touched">
                El precio es requerido
            </p>
        </div>


        <div class="form-group">
            <label for="comment">Descripción:</label>
            <textarea class="form-control" rows="5" id="comment" name="text" formControlName="description"></textarea>
            <p class="fw-bold text-danger" *ngIf="productForm.get('description')?.hasError('required') && productForm.get('description')?.touched">
                Agregue una descripción
            </p>
        </div>


    </div>

    <div class="col-12 col-md-6">


        <img [src]="image || 'assets/img/no-image.jpg'" class="img-thumbnail w-50" alt="">


        <div class="form-group">
            <label for="formFile" class="form-label">Selecciona una foto del
                producto</label>
            <input class="form-control" type="file" id="formFile" (change)="getFile($event)" formControlName="img" accept="image/png, image/jpeg">
            <p class="fw-bold text-danger" *ngIf="productForm.get('img')?.hasError('required') && productForm.get('img')?.touched">
                Agregue una imagen
            </p>
        </div>


        <div class="form-group">
            <label for="unitsAvailable"> Unidades disponibles del producto </label>
            <input id="unitsAvailable" type="number" formControlName="unitsAvailable" class="form-control" placeholder="Unidades del producto">
            <p class="fw-bold text-danger" *ngIf="productForm.get('unitsAvailable')?.hasError('required') && productForm.get('unitsAvailable')?.touched">
                Agregue las unidades disponibles
            </p>
        </div>

        <div class="form-group">
            <label for="supplier"> Nombre del proveedor </label>
            <input id="supplier" type="text" formControlName="supplier" class="form-control" placeholder="placeholder">
            <p class="fw-bold text-danger" *ngIf="productForm.get('supplier')?.hasError('required') && productForm.get('supplier')?.touched">
                Agregue un proveedor
            </p>
        </div>


    </div>

    <div class="text-center my-4">
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Agregar producto</button>
        <hr>
    </div>

</form>