<app-navbar-store></app-navbar-store>
<div class="container">
    <div class="row">
        <div class="col-7">
            
            <div cl>
                <h1>Pollution</h1>
                <p>free enveronment</p>
                <button type="button" class="btn btn-success">Ingresar</button>
                <button type="button" class="btn btn-success" style="margin-left: 100px;">Registar</button>
            </div>
            
        <div class="row" style="margin-top: 50px;">
            <div class="col-6">
                <h2>Quienes somos</h2>
                <p>Somos TRUEKI, una plataforma Ecommerce de fácil acceso, amigable con el usuario y minimalista que busca impulsar al campesino y dar a conocer su agro colombiano a nivel nacional e internacional por medio del comúnmente llamado trueque o intercambio, es decir somos el puente entre el comprador y vendedor.</p>
            </div>
            <div class="col-6">
                <h2>Que hacemos</h2>
                <p>Nuestro objetivo es conectar a campesinos con potenciales compradores, mostrando un catálogo de productos disponibles que permita una preventa y venta de productos, en la cual el campesino vendedor pueda ser visto y contactado por el usuario comprador. El contacto con el vendedor se realiza por medio de WhatsApp ya que es una herramienta conocida y accesible en todos los celulares.</p>
            </div>
        </div>
    </div>


        <div class="col-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../../assets/img/aguacateenmesa1.jpg" class="d-block w-100" width="300px" height="500x" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../../assets/img/campesinoarando.webp" class="d-block w-100" width="300px" height="500x" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            
        </div>
    </div>


</div>


<app-footer class="footer"></app-footer>