<a [routerLink]="['/pay']">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" id="car">
        <div class="toast-header">
            <strong class="me-auto">Carrito de compras <i class="bi bi-cart-plus"></i></strong>

            <small class="badge bg-dark">{{ totalProducts }} Producto(s)</small>

        </div>
        <div class="toast-body">
            Bienvenido, agrega productos y luego <span class="badge bg-success">Abre el carrito</span>
        </div>
    </div>
</a>